/* common shared style  */
* {
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #09de1f;
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  background: #09de1f;
  padding: 15px 35px;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin: 30px 0;
}
/* nav related styles  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
/* header related styles  */
.header {
  background-color: #f3fff4;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 100vh;
  position: relative;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 152px;
  background: #98F3A1;
  border-radius: 50px;
  border-top-right-radius: 50%;
  position: absolute;
  right: 140px;
  bottom: 0px;
}
#circle h3{
  color: white;
}

.banner .profile-pic {
  width: 450px;/*479*/
}
.banner-greeting {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 0;
}
.banner-title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-description {
  color: #757575;
  font-size: 18px;
  line-height: 30px;
}
.banner-content {
  max-width: 585px;
}
.banner-content .right-banner-btn {
  margin-right: 30px;
  margin-top: 20px;
}
.banner-content .left-banner-btn {
  border-radius: 5px;
  border: 1px solid #09de1f;
  background-color: #f3fff4;
  color: #09de1f;
  margin-top: 20px;
}
.fa-sharp {
  padding-right: 5px;
}

/* main section styles  */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* about section styles  */
.about {
  margin: 130px 0px;
  border-radius: 10px;
  background: #f3fff4;
  padding: 130px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.info-title {
  margin-bottom: 0px;
  text-align: center;
  color: #757575;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.info-description {
  color: #474747;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
/* what i do section  */
.what-i-do {
  margin: 130px 0px;
}

.wid-description {
  padding: 0px 110px;
}
.card-container {
  display: flex;
  gap: 25px;
  margin: 50px 0px;
}
.card {
  box-shadow: 2px 2px 40px #f0eeee;
  width: 200px;
  height: 325px;
  padding: 30px;
}
.card-title {
  color: #181818;
  font-size: 20px;
  font-weight: 700;
  padding-top: 30px;
}
.card-description {
  color: #757575;
  font-size: 16px;
  line-height: 28px;
  padding-top: 20px;
}
/* resume section start  */
.resume-title {
  margin: 130px 0px;
}
.resume-container {
  display: flex;
  gap: 70px;
}
.degree {
  padding: 30px 0px;
}
.degree-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.degree-caption {
  color: #474747;
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 10px;
}
.degree-sub-caption {
  color: #757575;
  font-size: 20px;
  font-weight: 500;
}
.degree-description {
  color: #757575;
  font-size: 16px;
  line-height: 28px;
  padding: 30px 0px;
  border-bottom: 1px solid #d1d1d1;
  text-align: justify;
}
.last-description {
  border: none;
}
.download-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

/* footer section styles  */
.footer {
  display: flex;
  gap: 100px;
  background-color: #f3fff4;
  padding: 130px 200px;
  margin-top: 100px;
}
.footer-column {
  width: 50%;
}
.footer-title {
  text-align: left;
}
.footer-description {
  text-align: left;
}
.footer-icons {
  padding-right: 15px;
}
.footer-column input,
textarea {
  border: none;
  background-color: white;
  margin: 20px 0;
  padding: 15px 30px;
  width: 75%;
}
.footer-column textarea:focus {
  border: none;
  outline: none;
  border-color: #09de1f;
  border-bottom: 2px solid #09de1f;
  color: #09de1f;
}
.footer-column input:focus {
  border: none;
  outline: none;
  border-color: #09de1f;
  border-bottom: 2px solid #09de1f;
  color: #09de1f;
}

.footer-column input::placeholder {
  color: #09de1f;
}

.footer-column textarea::placeholder {
  color: #09de1f;
}
